langchain
python-dotenv
langchain_community
langchain-openai
langchain_core
streamlit
langchain-groq
pypdf
pymupdf
chromadb
sentence_transformers
langchain_huggingface
langchain-text-splitters
langchain-chroma
langchain-chains
